body {
  padding:10px;
  background-color: #000000;
  color: #14FC03;
}

a {
  color:#FFF;
}

a:visited {
  color:#CCC;
}

span.symlink {
  color:#F00;
}

#cursor { 
  font-weight:normal; 
  background-color:#14FC03;
}
  
